<nav id="sidebar">
    <div class="sidebar-header text-center">
        <h3>ENSAS Surviance</h3>
    </div>

    <ul class="list-unstyled components">
        <p class="text-center">Navigation</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Surviance</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">

                <li>
                    <a href="surviance.php">New</a>
                </li>
                <li>
                    <a href="survianceDetail.php">Details</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="Module.php">Modules</a>
        </li>
        <li>
            <a href="Prof.php">Professeurs</a>
        </li>
        <li>
            <a href="Filiere.php">Filiéres</a>
        </li>
          <li>
            <a href="Local.php">Locals</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="https://github.com" class="download">Githu Repository</a>
        </li>
        <li>
            <a href="#" class="article">Do something</a>
        </li>
    </ul>
</nav>
